@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=cyrillic,cyrillic-ext');
body{
  color: #1D0D0D;
  font-size: 16px;
  font-family: 'Open Sans';
  background-color: #fff;
}
h2{
  text-align: center;
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 45px;
}
h3{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1rem;
}
.imgW100 img{
  width: 100%;
}
button{
  cursor: pointer;
  font-size: 14px;
}
section a{
  color: inherit;
}
section a:hover{
  color: inherit;
}
header p{
  margin-bottom: 0;
}
header a{
  color: inherit;
}
header a:hover{
  color: inherit;
}
.greenBg{
  width:29px;
  height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #88AD2A;
  border-radius: 100%;
}
.main-img {
  height: 615px;
  margin-bottom: 20px;
}
.greenBtn{
  width: 100%;
  background-color: #1C9D38;
  color: #fff;
  border-radius: 50px;
  border: none;
  height: 34px;
}
.breadcrumb{
  background-color: #fff;
  font-size: 12px;
  margin-top: 1rem;
}
.breadcrumb a,
.breadcrumb a:hover{
  color: inherit;
}
.breadcrumb-item+.breadcrumb-item::before{
  content: ">"
}
.top-line{
  position: absolute;
  top: 12px;
  background-image: url('../img/top-line.svg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 170px;
}
nav ul{
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
}
.topmenu > li {
  /*padding: 34px 0;*/
  position: relative;
  font-family: 'Open Sans', sans-serif;
}

.topmenu{
  justify-content: space-between;
  height: 75px;
  align-items: flex-end !important;
}
.topmenu > li > a,
.topmenu li div {
  text-transform: uppercase;
  font-size: 14px;
  color: #1D0D0D;
}
.topmenu li a:hover { text-decoration: underline; }
.redArrow::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 12px;
  bottom: 0;
  width: 7px;
  height: 1px;
  background: #1D0D0D;
  transform: rotate(30deg);
  transition: all 0.5s;
}
.redArrow::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 6px;
  bottom: 0;
  /*left: 6px;*/
  width: 7px;
  height: 1px;
  background: #1D0D0D;
  transform: rotate(150deg);
  transition: all 0.5s;
}
.redArrow{
  width: 20px;
  height: 20px;
  display: block;
  top: 35%;
  right: 2%;
  margin-left: 5px;
}
.redOpen::after{
  transform: rotate(30deg);
  background: #1D0D0D;
}
.redOpen::before{
  transform: rotate(150deg);
  background: #1D0D0D;
}
.li-div{
  display: flex;
}
.li-div a{
  text-transform: uppercase;
  font-size: 14px;
  color: #1D0D0D;
}
.first-line div{
  z-index: 10;
}
.first-line p a,
.first-line p a:hover{
  color: inherit;
}
.product-cart{
  border-radius: 25px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 44px 24px 24px 24px;
  transition: 0.3s;
  border: 1px solid #fff;
  margin-bottom: 30px;
}
.product-cart img{
  padding: 0 24px;
}
.product-cart .greenBtn{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  height: 47px;
}
.product-cart a:hover{
  text-decoration: none;
}
.product-cart-img{
  height: 212px;
  display: flex;
  align-items: center;
}
.product-cart:hover{
  box-shadow: 8px 8px 8px rgba(28, 157, 56, 0.2);
  border: 1px solid rgba(28, 157, 56, 0.2);
}
.advantages{
  background-image: url('../img/bg2.png');
  height: 313px;
  background-size: cover;
  color: #fff;
  align-items: center;
  display: flex;
}
.advantages img{
  float: left;
  margin-right: 25px;
}
.advantages .row div{
  display: flex;
  align-items: center;
  justify-content: center;
}
.news-card{
  display: flex;
  font-size: 14px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  height: 178px;
  margin-bottom: 10px;
  /*margin-top: 20px;*/
}
.news-card-img{
  flex: 0 0 36%;
  padding-right: 17px;
  display: flex;
  align-items: center;
}
.news-card-img img{
  width: 100%;
}
.news-card h4{
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: bold;
}
.news-card a{
  color: #1C9D38;
}
.news-card p{
  margin-bottom: 0;
}
.news-card-text{
  padding-right: 72px;
  padding-top: 25px;
}
.news-card-date{
  position: absolute;
  right: 28px;
  font-size: 12px;
  bottom: 15px;
}
.lightGreenBtn{
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  height: 30px;
}
footer{
  background-image: url('../img/footer.png');
  background-size: cover;
  height: 444px;
  color: #fff;
  font-size: 14px;
  display: flex;
  align-items: flex-end;
}
footer p a:hover,
footer p a,
footer a:hover,
footer a{
  color: #fff;
}
.footer-last-row a{
  text-decoration: underline;
}
.footer-last-row a:hover{
  text-decoration: none;
}
.lightGreenBtn{
  width: 130px;
  height: 30px;
  font-size: 14px;
  color: #fff;
  border-radius: 50px;
  background-color: #88AD2A;
  border: none;
}
.footer-ul{
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
footer .title{
  font-weight: bold;
}
footer .d-flex{
  align-items: center;
}
footer p,
footer .d-flex{
  margin-bottom: 9px;
}
footer .d-flex p{
  margin-bottom: 0;
}
.ml-fix{
  margin-left: -7px;
}
footer .greenBtn{
  width: 153px;
  height: 30px;
}

.slider-main .my-dots{
  width: 75%;
  text-align: end;
}
.my-dots {
  position: absolute;
  bottom:  10px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}
.my-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.my-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.my-dots li button:hover,
.my-dots li button:focus {
  outline: none;
}

.my-dots li button:hover:before,
.my-dots li button:focus:before {
  opacity: 1;
  content: url('../img/icons/dotDark.svg');
}
.my-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: url('../img/icons/dotEmpty.svg');
  text-align: center;
  opacity: 0.5;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   
}
.my-dots li.slick-active button:before {
  opacity: 1;
  content: url('../img/icons/dotDark.svg');
  color: black;
}

.our-products{
  margin-bottom: 60px;
}
.advantages{
  margin-bottom: 36px;
}
.slider-news .my-dots{
  bottom: -60px;
}
.arrows img{
  cursor: pointer;
}
.slider-news-arrows{
  position: relative;
  top: -115px;
}
.slider-news-prev{
  position: relative;
  left: -30px;
}
.slider-news-next{
  position: relative;
  right: -30px;
}
footer .footer-last-row p{
  margin-bottom: 0;
}
.footer-last-row {
  margin-top: 30px;
}

/*page-about-company*/
.about-company-img{
  height: 467px;
  background-image: url('../img/bg3.png');
  background-size: cover;
  background-repeat: no-repeat;
  /*display: flex;
  align-items: center;*/
  padding-top: 30px;
  margin-bottom: 64px;
}
.company-numbers{
  color: #fff;
  text-align: center;
}
.company-titile{
  font-size: 64px;
  font-weight: bold;
}

/*page-news*/
.news-img{
  margin-bottom: 50px;
}

/*page-products*/


/*.products .col-lg-auto{
  padding: 0px 4px;
}*/
.products select{
  width: 100%;
  height: 53px;
  margin-bottom: 27px;
  background-color: #1C9D38;
  border: none;
  color: #fff;
}
.products .col-lg-auto{
  width: 234px;
}
.products .col-lg-auto img{
  width: 105px;
}
.product-img-title{
  margin-bottom: 
}
.products-row{
  height: 148px;
  align-items: center;
}
.products-row .col-lg-auto{
  text-align: center;
}
.products-row .col-lg-auto p{
  margin-bottom: 0;
}
.products-row .col-lg-auto .product-img-title{
  margin-bottom: 15px;
}
.products .grey-bg{
  background-color: #f6f6f6;
}
.sort-titile{
  font-weight: bold;
  margin-left: 25px;
}
.products{
  font-size: 18px;
}
.slider-product{
  margin-bottom: 30px;
}
.slider-product .zoom{
  margin-right: 10px;
}
.slider-product .slick-slide{
  height: 390px;
  display: flex !important;
  justify-content: center;
  flex-wrap: wrap;
  /*align-items: center;*/
  border: 1px solid #E0E0E0;
}
.slider-product .slick-slide div{
  flex: 0 0 100%;
  max-width: 100%;
}
.slider-product .product-img{
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-product .product-zoom{
  display: flex;
  justify-content: flex-end;
}
.slider-for-product img{
  width: 100%;
}
.slider-for-product .slick-slide{
  padding: 0px 6px;
  height: 140px;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.greenBtns button{
  width: 216px;
  height: 49px;
  border-radius: 25px;
  background-color: #fff;
  color: #1C9D38;
  border: 1px solid #1C9D38;
  margin-right: 16px;
  transition: 0.3s;
  margin-bottom: 30px;
}
.greenBtns .active{
  border: 1px solid #fff;
  color: #fff;
  background-color: #1C9D38;
}
.table-toggle{
  padding: 16px 15px;
  border-bottom: 1px solid #E0E0E0;
  cursor: pointer;
  transition: 0.3s;
}
.table-toggle p{
  margin-bottom: 0;
}
.div-table .active{
  border-bottom: 1px solid #1C9D38;
}
.div-table{
  border: 1px solid #BDBDBD;
  padding: 0px 23px 27px 35px;
}
.div-table .table1 td:nth-child(2n+1){
  background-color: #E9E7E7 !important;
}
.div-table .table1 td:nth-child(1){
  font-weight: bold;
}
.div-table td{
  border: 1px solid #BDBDBD;
  padding: 7px 7px 7px 17px;
}
.div-table table{
  font-size: 12px;
}
.div-table .table2 td:nth-child(2n+1){
  background-color: #E9E7E7 !important;
  width: 287px;
}
.div-table .table1 p{
  font-weight: bold;
  margin-bottom: 0;
}
.div-table .table2 td:nth-child(2n){
  width: 449px;
}
.slider-for-product {
  margin-bottom: 60px;
}
.slider-for-product-arrows{
  position: relative;
  top: -140px;
  height: 1px; 
}
.slider-for-product .slick-slide{
  cursor: pointer;
}
.slider-for-product-next{
  position: relative;
  right: -20px;
}
.slider-for-product-prev{
  position: relative;
  left: -20px;
}
.div-table .table3 td:nth-child(1){
  background-color: #E9E7E7;
  font-weight: bold;
}
.recommendations-tables{
  display: none;
}
.characteristic-tables{
  display: flex;
}

/*page-product*/
.download-description a{
  text-decoration: underline;
  color: #1C9D38;
}
.download-description a:hover{
  text-decoration: none;
  color: #1C9D38;
}


/*page-newses*/
.newses-img{
  border-radius: 25px;
  height: 312px;
}
.newses-img img{
  border-radius: 25px;
}
.newses-img img{
  width: 100%;
  height: auto;
}
.newses-title{
  font-size: 30px;
  margin-bottom: 21px;
}
.newses-description{
  font-size: 24px;
}
.newses-date{
  font-size: 18px;
  color: #828282;
  position: absolute;
  bottom: 0;  
  margin-bottom: 0;
}
.about-news{
  position: absolute;
  right: 20px;
  margin-bottom: 0;
  bottom: 0;
  text-decoration: underline;
  color: #1C9D38;
}
.about-news:hover{
  text-decoration: none;
  color: #1C9D38;
}
.newses-description{
  padding-bottom: 30px;
}
.news-block .row{
  align-items: center;
}
.news-block{
  padding: 50px 0;
}
.newses .news-block:nth-child(2n+1){
  background-color: #f6f6f6;
}

.prev-page,.next-page{
  width: 45px;
  height: 45px;
  border-radius: 100%;
  border: 1px solid #24824D;
  display: flex;
  align-items: center;
  justify-content: center;
}
.prev-page img{
  transform: rotate(180deg);
}
.pagination ul{
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  margin: 0 10px;
  font-size: 18px;
}
.pagination li,
.pagination .last-page,
.pagination .first-page{
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.prev-page, .next-page{
  cursor: pointer;
  transition: 0.3s;
}
.prev-page:hover, .next-page:hover{
  border: 1px solid #f5f5f5;
}
.pagination li{
  transition: 0.3s;
}
.pagination li:hover{
  background-color: #24824D;
  color: #fff;
  border-radius: 100%;
}
.pagination .active{
  background-color: #24824D;
  color: #fff;
  border-radius: 100%;
}
.pagination-tools{
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 50px;
}

/*page-delivery*/
.delivery-img img{
  width: 289px;
  height: 289px;
}
.delivery-img{
  display: flex;
  justify-content: center;
  align-items: center;
}
.delivery-description-right{
  border-right: 15px solid #1C9D38;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.delivery-description-left{
  border-left: 15px solid #1C9D38;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.delivery-first-line{
  margin-bottom: 100px;
}

/*page-contacts*/
.contacts{
  font-size: 15px; 
}
.adress-title{
  font-weight: bold;
}
.contacts-divs{
  display: flex;
  justify-content: space-between;
}
.contacts-divs p{
  margin-bottom: 5px;
}
.my-form input{
  width: 100%;
  height: 40px;
  padding-left: 14px;
  border-radius: 25px;
  border: 1px solid #828282;
  margin-bottom: 15px;
}
.my-form input::-webkit-input-placeholder,
.my-form textarea::-webkit-input-placeholder,{
  color: #f6f6f6;
}
.my-form input::-moz-placeholder,
.my-form textarea::-moz-placeholder {
  color: #f6f6f6;
}
.my-form textarea{
  width: 100%;
  padding-left: 14px;
  padding-top: 10px;
  border-radius: 25px;
  border: 1px solid #828282;
  margin-bottom: 15px;
}
.my-form .green-input{
  width: 200px;
  height: 35px;
  border-radius: 25px;
  background-color: #1C9D38;
  color: #fff;
  border: none;
  margin-bottom: 0;
  cursor: pointer;
}
.my-form p{
  width: 50%;
  font-size: 12px;
}
.my-form h2{
  margin-bottom: 22px;
}
.contacts p{
  margin-bottom: 10px;
}
.my-map{
  height: 668px;
}
p a{
  color: #1C9D38;
}
p a:hover{
  color: #1C9D38;
}

/*page-basket*/
.clearBtn{
  background-color: #fff;
  border-radius: 25px;
  border: 1px solid #1C9D38;
  color: #1C9D38;
  width: 100%;
  height: 40px;
  margin-bottom: 15px;
}
.clearBtn img{
  width: 13px;
  margin-right: 4px;
}
.product-card{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 15px 0;
  border: 1px solid #E0E0E0;
}
.product-close{
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}
.cardValue button{
  width: 35px;
}
.cardValue button{
  width: 30px;
  background: #fff;
  border: 0;
  border-radius: 100%;
  font-size: 16px;
}
.cardValue input{
  width: 57px;
  height: 33px;
  color: #828282;
  padding: 0;
  background: #E0E0E0;
  border: 0;
  align-self: center;
  text-align: center;
}
.cardValue{
  border: 1px solid #E0E0E0;
  border-radius: 50px;
  height: 35px;
  width: 117px;
  background-color: #fff;
}
.product-name{
  font-size: 18px;
}
.product-price{
  font-size: 24px;
  font-weight: bold;
}
.product-row input[type="checkbox"]{
    display: none;
}
.product-row input[type="checkbox"] + label{
    display: block;
    width: 25px;
    height: 25px;
    background: #fff;
    border: 1px solid #939393;    
    text-align: center;    
}
.product-row input[type="checkbox"]:checked + label:before{
    content: '';
    background-image: url('../img/icons/checkbox.svg');
    background-size: cover;
    position: absolute;
    width: 14px;
    height: 13.5px;
    bottom: 14px;
    left: 21px;
}
.product-row{
  margin-bottom: 15px;
}
.total-price{
  font-size: 18px;
  align-items: center;
  margin-bottom: 15px;
}
.total-price p{
  margin-bottom: 0;
}
.last-buttons,
.form-buttons{
  display: flex;
  justify-content: space-between;
}
.last-buttons button{
  border-radius: 25px;
  width: 40%;
  height: 40px;
  font-size: 14px;
}
.form-buttons button{
  border-radius: 25px;
  width: 48%;
  height: 40px;
  border: 1px solid #E0E0E0;
  font-size: 14px;
  margin-bottom: 15px;
  transition: 0.3s;
  background-color: #fff;
}
.form-buttons .active{
  border: 1px solid #1C9D38;
}
.basket-form .my-form p{
  width: 100%;
}
.last-buttons button:nth-child(1){
  color: #1C9D38;
  border: 1px solid #1C9D38;
  background-color: #fff;
}
.basket-p p{
  margin-bottom: 15px;
  display: flex;
  height: 40px;
  align-items: center;
}

.fancybox-content{
  padding: 0 !important;
  border-radius: 25px;
}
.fancybox-content h1{
  font-weight: bold;
  flood-color: #fff;
  font-size: 24px;
  color: #fff;
}
.fancybox-content .card-header{
  height: 67px;
  background-image: url('../img/modal.png');
}
.fancybox-content .card{
  border: 0;
  width: 467px;
}
.fancybox-button svg{
  color: #fff;
}
.fancybox-content .my-form p{
  width: 100%;
}
.fancybox-content .greenBtn{
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
}
.fancybox-content a:hover{
  text-decoration: none;
}
.fancybox-slide--image .fancybox-content{
  border-radius: 0;
}
.slider-for-product .slick-slide{
  opacity: 0.6;
}
.slider-for-product .slick-current{
  opacity: 1;
}
.decorition a:hover{
  text-decoration: none;
}

.product-cart,
.product-card,
.news-card{
  background-color: #fff;
}

.col-auto .slick-disabled{
  opacity: 0.6;
  cursor: default;
}

.my-form .inputCount{
  width: 40%; 
  margin-right: 10px;
}
.my-form .d-flex p{
  font-size: 14px;
}






















@media (min-width: 1900px){
  .top-line{
    top: -5px;
  }
}
@media (min-width: 1300px) and (max-width: 1590px){
  .top-line{
    top: 19px;
  }
  .main-img{
    height: 500px;
  }
}
@media (min-width: 1200px){}
.container {
    max-width: 1170px;
}
@media (min-width: 961px){
  .mob-nav{
    display: none;
  }
  .advantages .row div:nth-child(1){
    padding-top: 80px;
  }
  .advantages .row div:nth-child(2){
    padding-top: 0px;
  }
  .advantages .row div:nth-child(3){
    padding-bottom: 60px;
  }
  .topmenu li:nth-child(2){
    padding-bottom: 7px;
  }
  .topmenu li:nth-child(3){
    margin-bottom: 14px;
  }
  .topmenu li:nth-child(4){
    margin-bottom: 21px;
  }
  .topmenu li:nth-child(5){
    padding-bottom: 28px;
  }
  .topmenu li:nth-child(6){
    padding-bottom: 35px;
  }
  #toTop {
    width:100px;
    padding:5px;
    position:fixed;
    bottom:40px;
    right:10px;
    cursor:pointer;
    display:none;
  }
  .mobile-p{
    display: none;
  }
  .submenu li{
    padding-top: 7px;
    padding-left: 18px;
    padding-right: 18px;
  }
  .call-icon{
    position: relative;
    margin-right: 80px;
  }
  .slider-sertificates{
    justify-content: space-around;
    display: flex;
    width: 100%;
  }
  .submenu {
    background: #fff;
    position: absolute;
    border: 1px solid lightgrey;
    border-radius: 10px;
    display: block;
    /*left: -40px;*/
    top: 130%;
    z-index: 5;
    width: 180px;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: .5s ease-in-out;
    -webkit-box-shadow: 0px 17px 34px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 17px 34px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 17px 34px -7px rgba(0,0,0,0.75);
  }
  .submenu1{
    left: 37px;
  }
  .submenu2{
    left: 7px;
  }
  .submenu:before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-top: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    right: 100px;
    top: -6px;
    transform: rotate(45deg);
  }
  .submenu a {
    color: #1D0D0D;
    text-align: center;
    /*padding: 9px 18px;*/
    font-size: 14px;
  }
  .submenu li:last-child a { border-bottom: none; }
  .topmenu > li:hover .submenu {
    opacity: 1;
    transform: scaleY(1);
  }
  .topmenu > li:hover .redArrow::after{
    transform: rotate(30deg);
    background: #1D0D0D;
  }
  .topmenu > li:hover .redArrow::before{
    transform: rotate(150deg);
    background: #1D0D0D;
  }
  .topmenu > li:hover .li-div a{
    color: #1D0D0D;
  }
  .topmenu{
    align-items: center;
  }

}

@media (max-width: 960px){
  body{
    font-size: 14px;
  }
  h2{
    font-size: 28px;
    margin-bottom: 30px;
  }
  h3{
    font-size: 22px;
  }
  .dekstop-header,
  .dekstop-nav,
  .top-line,
  .dekstop-footer{
    display: none;
  }
  #toTop{
    width:100px;
    padding:5px;
    position:fixed;
    bottom:40px;
    cursor:pointer;
    display:none;
    right: -40px;
  }
  .pagination li, .prev-page, .next-page, .pagination .last-page, .pagination .first-page{
    height: 35px;
    width: 35px;
  }
  .pagination{
    justify-content: center;
  }
  .newses-img{
    height: auto;
    margin-bottom: 10px;
  }
  .my-map{
    height: 300px;
    margin-top: 20px;
  }
  .delivery-description-right{
    border: none;
    padding: 0;
  }
  .delivery-description-left{
    border: none;
    padding: 0;
  }
  .delivery-first-line{
    margin-bottom: 1rem;
  }
  .product-card{
    text-align: center;
  }
  .product-card .cardValue{
    margin: auto;
  }
  .form-buttons button{
    width: 100%;
  }
  .form-buttons{
    flex-wrap: wrap;
  }
  .mobile-p{
    display: block;
  }
  .basket-p{
    display: none;
  }
  .product-row{
    justify-content: center;
  }
  .product-row .col-auto{
    margin-top: 1rem;
  }

  .greenBg{
    width: 14px;
    height: 14px;
    font-size: 7px;
    position: absolute;
    left: 37px;
    top: 6px;
  }
  .mob-line{
    width: 100%;
    height: 37px;
    background-image: url('../img/mob-line.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -61px;
  }
  .mob-nav-row{
    padding: 18px 0; 
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }
  .mob-line{
    position: absolute;
    z-index: 4;
    top: 73px;
  }
  .main-img{
    height: auto;
    margin-top: -60px;
  }
  .mob-nav{
    position: absolute;
    z-index: 2;
    text-align: center;
    height: auto;
    width: 100%;
    background-color: #f6f6f6;
    padding-bottom: 34px;
    padding-top: 34px;
    border-top: 6px solid #fff;
    top: 73px;
  }
  .topmenu,
  .submenu{
    display: block;
    height: auto;
  }
  .topmenu li{
    padding-top: 18px;
    text-transform: uppercase;
    font-size: 14px;
  }
  .topmenu .submenu li{
    padding-top: 10px;
    font-size: 14px;
    color: #8F8F8F;
    text-transform: none;
  }
  .redOpen::after{
    transform: rotate(30deg);
  }
  .redOpen::before{
    transform: rotate(150deg);
  }
  .li-div{
    justify-content: center;
  }
  .redArrow::before {
    right: 75px;
    top: 28px;
  }
  .redArrow::after {
    right: 69px;
    top: 28px;
  }
  .redArrow{
    margin-left: 18px;
  }
  .submenu,
  .mob-nav{
    display: none;
  }
  .nav-open{
    display: flex !important;
  }
  .submenu-link{
    margin-left: 40px;
  }
  .grey-line{
    border-bottom: 1px solid #BDBDBD
  }
  .mob-footer{
    margin-bottom: 40px;
  }
  footer .lightGreenBtn{
    width: 100%;
  }
  .advantages{
    background-image: url('../img/bgMob2.png');
    height: 590px;
    padding-top: 20px;
  }
  .advantages .col-lg-4{
    flex-wrap: wrap;
  }
  .advantages p{
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
  .advantages img{
    margin-right: 0;
    margin-bottom: 15px;
  }
  .news-card-img,
  .news-card-text{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 18px;
    margin-bottom: 1rem;
  }
  .news-card{
    height: auto;
    flex-wrap: wrap;
    padding-bottom: 10px;
  }
  .about-company-img{
    padding: 0 15px;
    margin: 0 -15px;
    padding-top: 60px;
    height: 700px;
    margin-bottom: 1rem;
  }
  .about-company-img h2{
    font-size: 25px;
    height: auto;
  }
  .company-titile{
    font-size: 45px;
  }
  .breadcrumb{
    margin-top: 50px;
  }
  .slider-sertificates .my-dots{
    bottom: -60PX;
  }
  .slider-sertificates .sertificate{
    display: flex !important;
    justify-content: center;
  }
  .contacts-divs{
    display: block;
    margin-bottom: 1rem;
  }
  .form-p p{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 1rem;
  }
  .form-p{
    flex-wrap: wrap;
    justify-content: center !important;
  }
  .products-row{
    height: auto;
    padding: 18px 0;
  }
  .products-row .col-lg-auto p{
    margin-bottom: 1rem;
  }
  .mobile-sort{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .mobile-sort p{
    flex: 0 0 100%;
    order: 1;
    max-width: 100%;
  }
  .mobile-sort img{
    margin-bottom: 1rem;
  }
  .sort-titile{
    margin-left: 0;
  }
  .div-table{
    overflow: auto;
  }
  .greenBtns button{
    height: 34px;
  }
  .slider-product .slick-slide{
    height: 230px;
  }
  .slider-product .zoom{
    bottom: -70px;
    left: 20px;
  }
  .slider-product .slick-slide img{
    max-width: 200px;
  }
  .slider-product .product-img {
    height: 188px;
  }
  .slider-product{
    margin-bottom: 15px;
  }
  .slider-for-product .slick-slide{
    height: auto;
  }
  .slider-for-product{
    margin-bottom: 40px;
  }
  .table-toggle p{
    width: max-content; 
  }
  .download-description{
    display: flex;
  }
  .download-description img{
    margin: 0 10px;
  }
  .download-description a{
    margin-right: 10px;
  }
  .breadcrumb{
    display: none;
  }
  .mobile-header{
    margin-bottom: 50px;
  }
  .fancybox-content .card{
    width: auto;
  }
  .fancybox-content .greenBtn{
    width: 70%;
  }
  .newses-title{
    font-size: 24px;
  }
  .newses-description{
    font-size: 18px;
  }
  .newses-date{
    font-size: 12px;
  }
  .pagination-tools{
    padding-bottom: 0;
  }
  footer{
    margin-top: -30px;
  }
  .product-card .cardValue,
  .contacts p{
    margin-bottom: 1rem;
  }
  .basket-form .my-form .mobile-p{
    font-size: 14px;
  }
  .last-buttons{
    flex-wrap: wrap;
  }
  .last-buttons button{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 1rem;
  }
  .greenBtns a{
     flex: 0 0 100%;
    max-width: 100%;
  }
  .greenBtns button{
    width: 100%;
    margin-bottom: 1rem;
  }
  .greenBtns{
    flex-wrap: wrap;
  }
  .my-form .inputCount{
    width: 80%;
  }
  .news-h2{
    font-size: 25px;
  }













   #nav-icon3 {
    width: 19px;
    height: 12px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  #nav-icon3 span{
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #3F3F3F;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  #nav-icon3 * {
    margin: 0;
    padding: 0; 
  }
  #nav-icon3 span:nth-child(1) {
    top: 0px;
  }
  #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 6px;
  }
  #nav-icon3 span:nth-child(4) {
    top: 12px;
  }
  #nav-icon3.open span:nth-child(1) {
    top: 6px;
    width: 0%;
    left: 50%;
  }
  #nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #nav-icon3.open span:nth-child(4) {
    top: 6px;
    width: 0%;
    left: 50%;
  }

}
@media (min-width: 321px) and (max-width: 379px){
  .mob-line{
    background-position-y: -73px;
  }
}
@media (min-width: 380px) and (max-width: 420px){
  .mob-line{
    background-position-y: -83px;
  }
}
@media (min-width: 960px) and (max-width: 1025px){
  .top-line{
    height: 155px;
  }
}
